<h1 class='center'><%= @current_year %></h1>

<div class="calendar">
  <% @monthly_balances.each_with_index do |balance, index| %>
    <div class="calendar__square calendar__square--large <%= 'grey' if (index + 1) == Time.now.month %>">
      <div class="calendar__square-title">
        <h2><%= Date::MONTHNAMES[index + 1] %></h2>
      </div>

      <div class="calendar__balance">
        <%= ((index + 1) <= Time.now.month) ? (number_to_currency balance, unit: '£', strip_insignificant_zeros: true) : "<i class='fa fa-clock-o'></i>".html_safe %>
      </div>
    </div>
  <% end %>
</div>
