<h1 class='center'><%= @month_name %></h1>

<div class="calendar">
  <% @balances.each_with_index do |balance, index| %>
    <div class="calendar__square">
      <div class="calendar__day">
        <h2><%= index + 1 %></h2>
      </div>

      <div class="calendar__balance">
        <%= number_to_currency balance, unit: '£' %>
      </div>
    </div>
  <% end %>
</div>
