/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$from-small:'(min-width: 480px)';
$from-medium:'(min-width: 648px)';
$from-large:'(min-width: 900px)';
$from-xlarge:'(min-width: 1280px)';
$from-xxlarge:'(min-width: 1600px)';

$to-small:'(max-width: 479px)';
$to-medium:'(max-width: 647px)';
$to-large:'(max-width: 899px)';
$to-xlarge:'(max-width: 1279px)';
$to-xxlarge:'(max-width: 1599px)';

$grey: #CACACA;

.red {
  color: #B10507;
}

.green {
  color: #0D791C;
}

* {
  font-family: 'Baloo Bhaina', cursive;
}

a,
a:visited,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

td {
  font-size: 16px;
  padding: 0 10px;
}

.calendar {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.calendar__square {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: solid 1px black;
  width: 26%;

  @media #{$from-medium} {
    width: 10%;
  }
}

.calendar__square--large {
  width: 100%;

  @media #{$from-medium} {
    width: 18%;
  }
}

.grey {
  background-color: $grey;
}

.center {
  text-align: center;
}

canvas {
  width: 90%;
  height: 90vh;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: column;

  @media #{$from-medium} {
    flex-direction: row;
  }
}

.navbar__item {
  padding: 5px 15px;
  font-size: 22px;
  border-bottom: solid 2px transparent;

  &:hover {
    border-bottom: solid 2px black;
  }
}

.jumbo {
  font-size: 50px;
  text-align: center;
  margin-top: 20vh;

  @media #{$from-medium} {
    margin-top: 30vh;
  }
}

.balances {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.balance {
  padding: 20px;
  margin: 0 0 10px;
  border: solid 1px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  @media #{$from-medium} {
    width: 25%;
  }
}

.balance__accounts {
  display: flex;
  flex-direction: column;
}

.balance__account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
}

.no-border {
  border: 0;
}
