<h1 class="center"><%= @account.name %></h1>

<canvas id="accountHistory"></canvas>

<br>

<h1 class="center">Balance History</h1>

<div class="balances balances--center">
  <div class="balance">
    <div class="balance__accounts">
      <% @account.balances.in_date_order.each do |balance| %>
        <div class="balance__account">
          <div class="balance__account-name">
            <%= balance.created_at.to_date.to_formatted_s(:long_ordinal) %>
          </div>
          <div class="balance__account-amount <%= red_or_green(balance.amount) %>">
            <%= number_to_currency balance.amount, unit: '£', strip_insignificant_zeros: true %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var accountHistoryChart = $("#accountHistory");

  var accountHistory = new Chart(accountHistoryChart, {
      type: 'line',
      data: {
          labels: gon.dates,

          datasets: [{
              label: '£',
              data: gon.balances,
              backgroundColor: ['#0D791C'],
              borderColor: ['#0D791C'],
              borderWidth: 1,
              fill: false,
          }]
      },
      options: {
        responsive: false,
        title:{
            display: false,
            text:'History'
        },
        tooltips: {
            mode: 'index',
            intersect: false,
        },
        hover: {
            mode: 'nearest',
            intersect: true
        },
        scales: {
            xAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Month'
                }
            }],
            yAxes: [{
                display: true,
                scaleLabel: {
                    display: true,
                    labelString: 'Value'
                }
            }]
        }
      }
  });
</script>
